<h1>Login</h1>
<form action="/login" method="post">
 
  <div>
    <label for="Email">Email</label>
    <input type="Email" id="Email" name="Email" required />
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <button id="button" type="button">Login</button>
</form>
<a href="/register">Register</a>
